body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #ffffff10;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
